---
import Image from "astro/components/Image.astro";
const { entry, path } = Astro.props;
---

<li class="border-4 border-black dark:border-white m-0 p-0 list-none relative">
  <a href=`/${entry.collection}/${path}`>
    <Image
      class="m-0 object-cover aspect-square"
      src={entry.data.image}
      alt={entry.data.title}
      quality={50}
      loading="lazy"
      format="avif"
    />
    <p
      class="m-0 absolute bottom-0 bg-white/50 dark:bg-black/30 w-full text-center text-2xl"
      >{entry.data.category}</p
    >
  </a>
</li>
