---
import Image from "astro/components/Image.astro";
const { gallery } = Astro.props;
const sortedGallery = gallery.sort(
  (a: any, b: any) => b.data.date - a.data.date
);
---

<ul
  class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 p-0"
>
  {
    sortedGallery.map((p: any) => (
      <li class="list-none p-0 m-0">
        <a href={`/${p.collection}/${p.data.category}/${p.id}`}>
          <Image
            class="object-cover aspect-square border-8 border-black dark:border-white m-0"
            src={p.data.image}
            alt={p.data.title}
            quality={50}
            loading="lazy"
            format="avif"
          />
        </a>
      </li>
    ))
  }
</ul>
